.whole_page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px; 
    padding: 20px;
  }
  
  .whole_page img {
    width: 400px; 
    height: auto;
    border-radius: 8px;
  }
  
  .page_content {
    flex: 1; /* This makes the text container take up all remaining space */
  }

p {
    color: white;
}